<details class="articles" open="">
    <summary><b>Articles</b></summary>
    <a href="/post/effective_user_stories/">
        <p>NEW ✨ - Effective User Stories: Enhancing Team Collaboration and Delivery</p>
    </a>
    <a target="_blank" href="https://dev.to/brownio/i-just-want-to-be-a-golang-developer-how-to-get-started-e46">
        <p>TOP 🔥 - How to get started with Go</p>
    </a>
    <a target="_blank" href="https://dev.to/brownio/a-pattern-a-day-keeps-the-reviewers-away-day-0-what-are-the-design-patterns-4oh8">
        <p>TOP 🔥 - Daily Design Patterns</p>
    </a>
    <a target="_blank" href="https://dev.to/brownio/progressive-web-apps-the-why-the-how-and-the-why-not-3092">
        <p>Progressive Web Apps - The why, the how, and the why not </p>
    </a>
    <a target="_blank" href="https://www.linkedin.com/feed/update/urn:li:activity:6639511951368159232/">
        <p>Headless CMS Tech Talk</p>
    </a>
</details>