<aside>
    <h2>Projects and activities</h2>
    <div class="projects ">
        <div class="project card">
            <a href="https://jobs.kiwi.com/" target="_blank" rel="noopener noreferrer">
                <h3>Jobs Kiwi</h3>
                <img loading="lazy" width="257.78" height="243.02" src="/img/k-jobs.webp" alt="Project photo">
                <div class="technologies">
                    <span>WordPress, PHP Lever API, jQuery, SASS, Product Owner, Manager</span>
                </div>
            </a>
        </div>
        <div class="project card">
            <a href="https://www.kiwi.com/" target="_blank" rel="noopener noreferrer">
                <h3>Kiwi.com</h3>
                <img loading="lazy" src="/img/kiwi.webp" width="257.78" height="243.02" alt="Project photo">
                <div class="technologies">
                    <span>Golang, Python, K8s, Terraform, GCP. Product Manager: SEO, UXUI, Legal, Martech, Front-end...</span>
                </div>
            </a>
        </div>

        <div class="project card">
            <a href="https://www.kiwi.com/worldtravelhackers/" target="_blank" rel="noopener noreferrer">
                <h3>World Travel Hackers</h3>
                <img loading="lazy" src="/img/k-world.webp" width="257.78" height="243.02" alt="Project photo">
                <div class="technologies">
                    <span>Webflow, WordPress, Google Analytics, Localization, Product Owner, Manager</span>
                </div>
            </a>
        </div>

        <div class="project card">
            <a href="https://www.kiwi.com/stories/" target="_blank" rel="noopener noreferrer">
                <h3>Kiwi Stories</h3>
                <img loading="lazy" width="257.78" height="243.02" src="/img/k-stories.webp" alt="Project photo">
                <div class="technologies">
                    <span>WordPress, JS, Localization, SEO, Core Web Vitals, Product Owner, Manager</span>
                </div>
            </a>
        </div>



        <div class="project card">
            <a href="https://media.kiwi.com/" target="_blank" rel="noopener noreferrer">
                <h3>Media Kiwi</h3>
                <img loading="lazy" width="257.78" height="243.02" src="/img/k-media.webp" alt="Project photo">
                <div class="technologies">
                    <span>WordPress, PHP, jQuery, SASS, Product Owner, Manager</span>
                </div>
            </a>

        </div>
        <div class="project card">
            <a href="https://github.com/kiwicom/the-zoo" target="_blank" rel="noopener noreferrer">
                <h3>The Zoo</h3>
                <img loading="lazy" width="257.78" height="243.02" src="/img/k-zoo.webp" alt="Project photo">
                <div class="technologies">
                    <span>Python, VueJS, Docker, Github Actions, Open Source</span>
                </div>
            </a>
        </div>


        <div class="project card">
            <a href="https://www.secret-source.eu/" target="_blank" rel="noopener noreferrer">
                <h3>Secret Source</h3>
                <img loading="lazy" width="257.78" height="243.02" src="/img/secret-source.webp" alt="Project photo">
                <div class="technologies">
                    <span>WordPress, jQuery, SASS, PHP</span>
                </div>
            </a>
        </div>

        <div class="project card">
            <a href="https://www.secret-source.eu/case-studies/royal-meteorological-society/" target="_blank"
                rel="noopener noreferrer">
                <h3>RMETS.org</h3>
                <img loading="lazy" width="257.78" height="243.02" src="/img/rmets.webp" alt="Project photo">
                <div class="technologies">
                    <span>Drupal, jQuery, SASS</span>
                </div>
            </a>
        </div>

        <div class="project card">
            <a href="https://www.secret-source.eu/case-studies/apply-4/" target="_blank" rel="noopener noreferrer">
                <h3>Apply4</h3>
                <img loading="lazy" width="257.78" height="243.02" src="/img/apply4.webp" alt="Project photo">
                <div class="technologies">
                    <span>Ruby on Rails, Bootstrap, jQuery, Heroku</span>
                </div>
            </a>

        </div>


        <div class="project card">
            <a href="https://chromewebstore.google.com/detail/glassdoor-mallet-paywall/iffdmmnekhhhkceaignlijdncehfnpfk"
                target="_blank" rel="noopener noreferrer">

                <h3>JS Chrome Extension</h3>
                <img loading="lazy" width="257.78" height="243.02" src="/img/glassdoor.webp" alt="Project photo">
                <div class="technologies">
                    <span>Javascript, Glassdoor Paywall remover</span>
                </div>
            </a>

        </div>

    </div>
</aside>

<div class="hide-l">
    {{template "partials/contact.html"}}
</div>