<footer>
    <ul class="footer--links">
        <li class="twitter"><a target="_blank" rel="noreferrer" href="https://twitter.com/brownio_"><i
                    data-feather="twitter"></i></a></li>
        <li class="mail"><a target="_blank" rel="noreferrer" href="mailto: antonio.djinav@gmail.com"><i
                    data-feather="mail"></i></a></li>
        <li class="linkedin"><a target="_blank" rel="noreferrer" href="https://www.linkedin.com/in/antonio-djigo/"><i
                    data-feather="linkedin"></i></a></li>
    </ul>
</footer>

<script src="https://unpkg.com/feather-icons"></script>
<script>
    feather.replace()
</script>