<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-E084630H3Y"></script>

    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { window.dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-E084630H3Y');

    </script>

    <!-- Primary Meta Tags -->
    <title>Antonio Djigo 🧑🏾‍💻 - Tech PM, Software Engineer</title>
    <meta name="title" content="Antonio Djigo 🧑🏾‍💻 - Tech PM, Software Engineer">
    <meta name="description" content="Technical Product Manager, Software Engineer">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.djigo.dev/">
    <meta property="og:title" content="Antonio Djigo 🧑🏾‍💻 - Tech PM, Software Engineer">
    <meta property="og:description" content="Technical Product Manager, Software Engineer">
    <meta property="og:image" content="https://i.imgur.com/MtOwQcS.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://www.djigo.dev/">
    <meta property="twitter:title" content="Antonio Djigo 🧑🏾‍💻 - Tech PM, Software Engineere">
    <meta property="twitter:description" content="Technical Product Manager, Software Engineer">
    <meta property="twitter:image" content="https://i.imgur.com/MtOwQcS.png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/djigo.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <script src="https://unpkg.com/feather-icons"></script>
    
</head>