<div class="languages">
    <details class="product">
        <summary><b>PM Skills</b></summary>
        <p>Leading <b>cross-functional teams</b> to create innovative products. Collaborate with fellow PMs to ensure project success.</p>
        <p>Expert in <b>product ownership</b> and <b>project management</b>. Using <b>SCRUM</b> to turn insights and stakeholder issues into <b>actionable strategies</b>. Prioritizing backlogs and managing external agencies effectively.</p>
        <p>Conducting <b>market research</b>, crafting strategic <b>roadmaps</b>, and overseeing the <b>product lifecycle</b>. Skilled in task prioritization, conflict resolution, and risk mitigation.</p>
        <p><b>Stakeholders</b> and teams <b>I've worked with</b>: Engineering, UX/UI, Content and Creation, Localization, Marketing, Front-End, MarTech, SEO/SEM, CRM, HR, PR & Comms</p>
        <p>SQL, Jira, APIs, UX/UI, B2B/B2C/B2B2C, Analytics, Metrics and reports, SEO...</p>
    </details>
    <details class="wordpress">
        <summary><b>CMS owner</b></summary>
        <p>Managing and leading projects with multiple stakeholders (HR, Marketing, SEO, Content, UX).</p>
        <p>Product owner for an Engineering team</p>
        <p>Boosting SEO with Google Analytics.</p>
        <p>Experience with headless CMS like Strapi, Ghost, and Sanity.</p>
        <p>Expertise in using different hostings and servers.</p>
        <p>Creating new and innovative themes and plugins from scratch.</p>
    </details>
    <details class="css-js">
        <summary><b>Front-end manager</b></summary>
        <p>Managing and leading FE projects with multiple stakeholders (HR, Marketing, SEO, Content, UX).</p>
        <p>Launched and maintained successful products such as the ones at "Projects and activities".</p>
        <p>Proficient with no-code tools like Framer, Readymag, and Webflow.</p>
        <p>Over 6 years of experience with JS and CSS, worked with JS Frameworks</p>
    </details>
    <details class="rails">
        <summary><b>Back-end specialist</b></summary>
        <p>Worked in an Agile team with heavily applied SCRUM</p>
        <p>Performance profiling and WCAG accessibility.</p>
        <p>Maintaining a 5-year-old project effectively with legacy code.</p>
        <p>Applying design patterns for new and existing features.</p>
        <p>Unit testing and TDD.</p>
        <p>Experience with Jenkins, Docker, and Heroku.</p>
    </details>
    <details class="webperf">
        <summary><b>Digital Product Performance</b></summary>
        <p>Expert in Google Core Web Vitals optimization.</p>
        <p>Monitoring and analyzing performance metrics to drive continuous improvements.</p>
        <p>Reducing LCP & TTFB and optimizing Critical CSS.</p>
        <p>Improving mobile performance and responsiveness.</p>
    </details>
    <details class="go">
        <summary><b>DevOps mastery</b></summary>
        <p>Scripting with Golang.</p>
        <p>Using Terraform for infrastructure management.</p>
        <p>CI/CD wizard with Docker and K8s on any Git platform.</p>
        <p>Creating and maintaining CI files and templates for GitLab and GitHub Actions.</p>
        <p>Experienced with Cloudflare, GCP, Siteground, Heroku, and Netlify.</p>
    </details>
    <details class="learning">
        <summary><b>Currently learning</b></summary>
        <p>Product design and enhancing product management skills.</p>
        <p>Natural language processing, deep learning, LLMs, and chatbots.</p>
    </details>
    <details class="articles" open="">
        <summary><b>Articles</b></summary>
        <a target="_blank" href="/post/bullet-proof-user-stories-with-ai-prompts/">
            <p>NEW ✨ - Bullet-proof user stories for your team, with AI Prompts to do them!</p>
        </a>
        <a target="_blank" href="https://dev.to/brownio/i-just-want-to-be-a-golang-developer-how-to-get-started-e46">
            <p>TOP 🔥 - How to get started with Go</p>
        </a>
        <a target="_blank" href="https://dev.to/brownio/a-pattern-a-day-keeps-the-reviewers-away-day-0-what-are-the-design-patterns-4oh8">
            <p>TOP 🔥 - Daily Design Patterns</p>
        </a>
        <a target="_blank" href="https://dev.to/brownio/progressive-web-apps-the-why-the-how-and-the-why-not-3092">
            <p>Progressive Web Apps - The why, the how, and the why not </p>
        </a>
        <a target="_blank" href="https://www.linkedin.com/feed/update/urn:li:activity:6639511951368159232/">
            <p>Headless CMS Tech Talk</p>
        </a>
    </details>
</div>