<div class="languages">
    <details class="product">
        <summary><b>Product Manager</b></summary>
        <p>Lead  <b>cross-functional teams</b> in SEO, UX, Engineering, Marketing, and HR to drive innovative product development, collaborating with fellow PMs.</p>
        <p><b>Product ownership</b> and  <b>project management</b>. Utilize  <b>SCRUM</b> to transform insights and stakeholder issues into  <b>actionable strategies</b>. Backlog prioritization and external agency management.</p>
        <p>Conduct comprehensive <b>market research</b>, strategic <b>road-mapping</b> and <b>product lifecycle</b> management. <b>Task prioritization, conflict resolution, and risk mitigation</b></p>
    </details>
    <details class="wordpress">
        <summary><b>CMS Products</b></summary>
        <p>Managed and led several projects working with other teams (HR/Marketing/SEO/Content/UX)</p>
        <p>Developed new and innovative themes and plugins from scratch ⚗</p>
        <p>Applied custom CI/CD, backups with GCP, and many other features</p>
        <p>Trained a lot of PHP, CSS and JS skills 💄</p>
        <p>Managed SEO with Google Analytics and similiar 📈</p>
        <p>Server manteinance and deployment with Siteground 🚀</p>
        <p>Headless CMS like Strapi, Ghost, Sanity? Yes!</p>
    </details>
    <details class="css-js">
        <summary><b>Front-end</b></summary>
        <p>More than 6 years of experience doing Vanilla JS and CSS 👌</p>
        <p>CSS Grid and Flex layout are in my toolset 🔧</p>
        <p>jQuery for the win. Also into Vue, React, Stimulus ➕</p>
        <p>Tailwind when it's necessary, yup.</p>
        <p class="animations">I can create animations! 🤡</p>
    </details>
    <details class="rails">
        <summary><b>Ruby on Rails</b></summary>
        <p>Mantained a 4 years old project 🏗</p>
        <p>Applied design patterns for both new and old functionaliies ♻️</p>
        <p>Unit testing and TDD ✅</p>
        <p>Jenkins, Docker, Heroku 🐳</p>
        <p>Performance profiling, WCAG accesibility ⚡️</p>
    </details>
    <details class="webperf">
        <summary><b>Web Performance</b></summary>
        <p>Will know how to reduce your LCP & TTFB, Critical CSS 🤓</p>
        <p>Lazyloading assets and third-parties please.🚫</p>
        <p>I know what Google Core Web Vitals wants from your site 🌚</p>
    </details>
    <details class="go">
        <summary><b>Web Infrastructure</b></summary>
        <p>I do scripting with Golang 🐻</p>
        <p>Use Terraform as Infrastructure as code 🪐</p>
        <p>CI/CD using Docker 🐋 and K8s ☸️ with any Git site</p>
        <p>Mantained and created CI files and templates for Gitlab and Github Actions</p>
        <p>Experience with Cloudflare, GCP, Siteground, Heroku and Netlify 🤷</p>
    </details>
    <details class="articles" open="">
        <summary><b>Articles</b></summary>
        <a href="https://dev.to/brownio/i-just-want-to-be-a-ruby-on-rails-developer-how-to-get-started-30np">
            <p>TOP 🔥 - How to get started with Ruby on Rails</p>
        </a>
        <a href="https://dev.to/brownio/i-just-want-to-be-a-golang-developer-how-to-get-started-e46">
            <p>TOP 🔥 - How to get started with Go</p>
        </a>
        <a href="https://dev.to/brownio/a-pattern-a-day-keeps-the-reviewers-away-day-0-what-are-the-design-patterns-4oh8">
            <p>TOP 🔥 - Daily Design Patterns</p>
        </a>
        <a href="https://www.linkedin.com/feed/update/urn:li:activity:6639511951368159232/">
            <p>Headless CMS Tech Talk</p>
        </a>
        <a href="https://dev.to/brownio/beautiful-lightning-fast-wordpress-themes-with-wp-rig-make-your-theme-meet-the-latest-web-standards-3bdd">
            <p>Beautiful, lightning-fast Wordpress themes with WP Rig</p>
        </a>
        <a href="https://dev.to/brownio/progressive-web-apps-the-why-the-how-and-the-why-not-3092">
            <p>Progressive Web Apps - The why, the how, and the why not </p>
        </a>
    </details>
</div>