<div class="languages">
    <details class="product">
        <summary><b>Product Manager</b></summary>
        <p>Leading <b>cross-functional teams</b> in SEO, UX, Engineering, Marketing, and HR to whip up innovative product magic. Collaborate with fellow PMs to make things happen.</p>
        <p>Rocking <b>product ownership</b> and <b>project management</b>. Using <b>SCRUM</b> to turn insights and stakeholder issues into <b>actionable strategies</b>. Prioritizing backlogs and managing external agencies like a pro.</p>
        <p>Deep-diving into <b>market research</b>, crafting strategic <b>roadmaps</b>, and managing the <b>product lifecycle</b>. Task prioritization, conflict resolution, and risk mitigation? Check, check, check!</p>
    </details>
    <details class="wordpress">
        <summary><b>CMS Products</b></summary>
        <p>Managing and leading awesome projects with teams (HR, Marketing, SEO, Content, UX) 🚀</p>
        <p>Creating new and innovative themes and plugins from scratch ⚗️</p>
        <p>Implementing custom CI/CD, backups with GCP, and other cool features</p>
        <p>Leveling up PHP, CSS, and JS skills 💄</p>
        <p>Boosting SEO with Google Analytics and friends 📈</p>
        <p>Server maintenance and deployment with Siteground, oh yeah! 🚀</p>
        <p>Headless CMS like Strapi, Ghost, Sanity? Absolutely!</p>
    </details>
    <details class="css-js">
        <summary><b>Front-end</b></summary>
        <p>Over 6 years of crafting magic with Vanilla JS and CSS 👌</p>
        <p>Master of CSS Grid and Flex layout 🔧</p>
        <p>jQuery lover, also rocking Vue, React, and Stimulus ➕</p>
        <p>Tailwind when needed, yup.</p>
        <p class="animations">I can create awesome animations! 🤡</p>
        <p>Also skilled with no-code tools like Framer, Readymag, and Webflow...</p>
    </details>
    <details class="rails">
        <summary><b>Ruby on Rails</b></summary>
        <p>Maintaining a 4-year-old project like a champ 🏗️</p>
        <p>Applying design patterns for new and old features ♻️</p>
        <p>Unit testing and TDD ✅</p>
        <p>Jenkins, Docker, Heroku? You bet! 🐳</p>
        <p>Performance profiling and WCAG accessibility ⚡️</p>
    </details>
    <details class="webperf">
        <summary><b>Web Performance</b></summary>
        <p>Reducing your LCP & TTFB like a boss, Critical CSS too 🤓</p>
        <p>Lazyloading assets and third-parties? Yes, please! 🚫</p>
        <p>I know exactly what Google Core Web Vitals wants from your site 🌚</p>
    </details>
    <details class="go">
        <summary><b>Web Infrastructure</b></summary>
        <p>Scripting with Golang 🐻</p>
        <p>Terraforming infrastructure like a pro 🪐</p>
        <p>CI/CD wizard with Docker 🐋 and K8s ☸️ on any Git platform</p>
        <p>Maintaining and creating CI files and templates for GitLab and GitHub Actions</p>
        <p>Experienced with Cloudflare, GCP, Siteground, Heroku, and Netlify 🤷</p>
    </details>
    <details class="ai">
        <summary><b>AI</b></summary>
        <p>Loading LLMs, Hugging Face, Copilot, ChatGPT, Natural Language Processing, ML & DL, AIOps... </p>
    </details>
    <details class="articles" open="">
        <summary><b>Articles</b></summary>
        <a href="https://dev.to/brownio/i-just-want-to-be-a-ruby-on-rails-developer-how-to-get-started-30np">
            <p>TOP 🔥 - How to get started with Ruby on Rails</p>
        </a>
        <a href="https://dev.to/brownio/i-just-want-to-be-a-golang-developer-how-to-get-started-e46">
            <p>TOP 🔥 - How to get started with Go</p>
        </a>
        <a href="https://dev.to/brownio/a-pattern-a-day-keeps-the-reviewers-away-day-0-what-are-the-design-patterns-4oh8">
            <p>TOP 🔥 - Daily Design Patterns</p>
        </a>
        <a href="https://www.linkedin.com/feed/update/urn:li:activity:6639511951368159232/">
            <p>Headless CMS Tech Talk</p>
        </a>
        <a href="https://dev.to/brownio/beautiful-lightning-fast-wordpress-themes-with-wp-rig-make-your-theme-meet-the-latest-web-standards-3bdd">
            <p>Beautiful, lightning-fast Wordpress themes with WP Rig</p>
        </a>
        <a href="https://dev.to/brownio/progressive-web-apps-the-why-the-how-and-the-why-not-3092">
            <p>Progressive Web Apps - The why, the how, and the why not </p>
        </a>
    </details>
</div>