footer{
    padding-top: 20px;
    width: 100%;
}

.footer--links{
    display: flex;
    justify-content: space-around;
    padding: 0;
    list-style: none;
}


.footer--links a{
    color: #1C0D02;
    text-decoration: none;
}

.footer--links svg{

}